<!DOCTYPE html>
   <head>
      <title>Estado del comedero 1</title>
      <link rel="stylesheet" href='../static/master.css'/>
   </head>

   <body>
       <div class = "centrado">
           <h1>Caracteristicas actuales</h1>
           <h2>Cantidad de liquido: {{ humedad }}</h2>
           <h2>Cantidad de comida: {{ comida }}</h2>
        </div>
        <div class = "izquierda">
            <a href="/home" class = "boton" target="_self">
                <buttom class = "boton">
                    Volver
                </buttom>
            </a>
        </div>
      
   </body>
</html>
