<!DOCTYPE html>
   <head>
      <title>Menú Princiapl </title>
      <link rel="stylesheet" href='../static/master.css'/>
   </head>

   <body>
      <div class = "centrado">
         <h1>Accede a los datos:</h1>
         <a href="/datos/0" class = "boton" target="_self">
            <buttom class = "boton">
            Periferico 1
            </buttom>
         </a>
         <a href="/datos/1" class = "boton" target="_self">
            <buttom class = "boton">
            Periferico 2
            </buttom>
         </a>
         <a href="/datos/2" class = "boton" target="_self">
            <buttom class = "boton">
            Periferico 3
            </buttom>
         </a>
      </div>
   </body>
</html>